<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Angular Dropdown</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 
</head>

<div ng-controller="DemoCtrl" ng-app="main">
<select ng-model="selectedGrade">
<option value="{{item.gradeId}}">Select Grade Level</option>
<option ng-repeat="item in chooseGrade" value="item.gradeId">
 {{item.name}}
</option>    
</select>  
 
</div>
<script>
var app = angular.module('main', []);
app.controller('DemoCtrl', function ($scope) {

    $scope.chooseGrade=[
        {gradeId : 1, name : "JHS1", desc: "some description" },
        {gradeId : 2, name : "JHS2", desc: "some description"},
        {gradeId : 3, name : "JHS3", desc: "some description"}
    ];

    $scope.selectedGrade = $scope.chooseGrade[0].gradeId;
});
</script>
</body>
</html>
